{% extends 'public/base.html' %}
{% block content %}
<div class="hold-transition register-area">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-body">
                {% if message %}
                <p class="login-box-msg">{{ message }}</p>
                {% endif %}
                <form action="{% url 'account_register' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.email }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.first_name }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.last_name }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.retype_password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Зарегестрироваться</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="{% url 'account_login' %}" class="text-center">Я уже зарегестрирован</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>
{% endblock %}