{% extends 'adminLte/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
tinymce.init({selector:'#HallDescriptionInput'});
handleFileSelectSet('HallSchemeInput', 'output')
handleFileSelectSet('HallUpperBannerInput', 'output1')
handleFileSelectSet('HallImage1', 'output2')
handleFileSelectSet('HallImage2', 'output3')
handleFileSelectSet('HallImage3', 'output4')
handleFileSelectSet('HallImage4', 'output5')
handleFileSelectSet('HallImage5', 'output6')
</script>
{% endblock %}
{% block cinema %}
    <li class="nav-item">
        <a href="{% url 'admin_cinema_list' %}" class="nav-link active">
              <i class="fas fa-video"></i>
              <p>
                  Кинотеатры (залы)
              </p>
        </a>
    </li>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
    <h1 class="m-0">Форма добавления зала кинотеатра</h1>
{% endblock %}
{% block main_content %}
    <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-md-3" style="padding-left: 0px">
                        <label for="CinemaInput"><h4>Название кинотеатра</h4></label>
                        {{ form.cinema|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label for="HallNameInput"><h4>Название зала</h4></label>
                        {{ form.hall_name }}
                    </div>
                    <div class="form-group">
                        <label for="HallDescriptionInput"><h4>Описание зала</h4></label>
                        {{ form.hall_description }}
                    </div>
                    <div class="form-group">
                        <label for="HallSchemeInput"><h4>Схема зала</h4></label>
                        <div class="card col-md-2">
                            <div class="card-body" style="padding: 0px">
                                {% if scheme %}
                                    <img src="{{ scheme }}" class="card-img-top" alt="film_image" style="padding-top:7px;">
                                {% endif %}
                                <div class="fileUpload btn btn-secondary">
                                    <span>Загрузить</span>
                                    {{ form.hall_scheme }}
                                </div>
                                <div class="row">
                                    <span id="output"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HallUpperBannerInput"><h4>Верхний баннер зала</h4></label>
                        <div class="card col-md-2">
                            <div class="card-body" style="padding: 0px">
                                {% if upper_banner %}
                                    <img src="{{ upper_banner }}" class="card-img-top" alt="film_image" style="padding-top:7px;">
                                {% endif %}
                                <div class="fileUpload btn btn-secondary">
                                    <span>Загрузить</span>
                                    {{ form.hall_upper_banner }}
                                </div>
                                <div class="row">
                                    <span id="output1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label><h4>Галерея зала (600x1300)</h4></label>
                    <div class="container d-flex justify-content-between">
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image1 %}
                                        <img src="{{ image1 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image1 }}
                                    </div>
                                    <div class="row">
                                        <span id="output2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image2 %}
                                        <img src="{{ image2 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image2 }}
                                    </div>
                                    <div class="row">
                                        <span id="output3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image3 %}
                                        <img src="{{ image3 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image3 }}
                                    </div>
                                    <div class="row">
                                        <span id="output4"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image4 %}
                                        <img src="{{ image4 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image4 }}
                                    </div>
                                    <div class="row">
                                        <span id="output5"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image5 %}
                                        <img src="{{ image5 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image5 }}
                                    </div>
                                    <div class="row">
                                        <span id="output6"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Ввод слаг-филда
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="SlugName"><h4>Отображение ссылки</h4></label>
                        <input type="text" placeholder="введите slug" class="form-control" id="SlugName">
                    </div>
                    -->
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <a class="btn btn-danger" href="{% url 'admin_film_list' %}" role="button">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
