{% extends 'public/base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center" style="margin-top: 20px">
        <h2>Наши кинотеатры</h2>
    </div>
    <div class="content-wrapper">
        <div class="row d-flex justify-content-center">
            {% for cinema in cinemas %}
            <div class="card col-md-4" style="height: 20rem; width: 27rem; margin: 1rem; margin-left: 3rem; margin-right: 3rem">
                <div class="container" style="position: relative">
                    <a href="{% url 'cinema_details' pk=cinema.pk %}"><img src="{{ cinema.cinema_logo.url }}" style="height: 20rem; width: 100%;"></a>
                    <div class="bottom-left" style="bottom: 8px; left: 16px; position: absolute; background: rgba(19, 19, 19, 0.8)"><p style="margin: 10px">{{ cinema.cinema_name }}</p></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container" style="height: 50px">

</div>
{% if ads %}
<div class="container" style="margin-bottom: 10px; padding: 0px; height: 200px; margin-top: 10px">
    <a href="{{ads.link}}"><img src="{{ ads.get_horizontal_img }}" class="img-fluid mx-auto d-block" style="height: 100%; width: 100%"></a>
</div>
{% endif %}

{% endblock %}