asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.6
django-appconf==1.0.4
django-classy-tags==2.0.0
django-crispy-forms==1.11.0
django-easy-maps==1.1.2
django-embed-video==1.4.0
django-grappelli==2.14.3
django-solo==1.1.5
geographiclib==1.50
geopy==2.1.0
idna==2.10
Pillow==8.1.0
psycopg2==2.8.6
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3



