{% extends 'adminLte/base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
handleFileSelectSet('BannerImage', 'output')
</script>
{% endblock %}
{% block banner %}
<li class="nav-item">
    <a href="{% url 'admin_banner_list' %}" class="nav-link active">
        <i class="fas fa-sliders-h"></i>
        <p>
            Баннеры \ Слайды
        </p>
    </a>
</li>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
    <h1 class="m-0">Форма добавления фоновой картинки</h1>
{% endblock %}
{% block main_content %}
    <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card col-md-4">
                        <div class="form-group">
                            {% if main_slide %}
                            <img src="{{ main_slide }}" class="card-img-top" alt="film_image" style="padding-top: 7px;">
                            {% endif %}
                            <label for="BannerImage"><h4>Фоновое изображение</h4></label>
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                {{ form.banner_image }}
                            </div>
                            <div class="row">
                                <span id="output"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}