{% extends 'adminLte/base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
handleFileSelectSet('MainSlideImage', 'output')
</script>
{% endblock %}
{% block banner %}
<li class="nav-item">
    <a href="{% url 'admin_banner_list' %}" class="nav-link active">
        <i class="fas fa-sliders-h"></i>
        <p>
            Баннеры \ Слайды
        </p>
    </a>
</li>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endfor %}
{% endif %}
    <h1 class="m-0">Форма добавления баннеров на страницу новостей, акций</h1>
{% endblock %}
{% block main_content %}
    <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card col-md-4">
                        <div class="form-group" style="text-align: center">
                            <label for="MainSlideImage"><h4>Изображение слайда</h4></label>
                            {% if slide_image %}
                                <img src="{{ slide_image }}" class="card-img-top" alt="film_image" style="padding-bottom: 7px;">
                            {% endif %}
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                {{ form.slide_image }}
                            </div>
                            <div class="row">
                                <span id="output"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MainSlideURL"><h4>Ссылка слайда</h4></label>
                        {{ form.slide_url }}
                    </div>
                    <div class="form-group">
                        <label for="MainSlideText"><h4>Текст слайда</h4></label>
                        {{ form.slide_text }}
                    </div>
                    <div class="form-group">
                        <label for="NewsPromoNumber"><h4>Скорость вращения (сек)</h4></label>
                        {{ form.slide_timer }}
                    </div>
                    <!-- Ввод слаг-филда
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="SlugName"><h4>Отображение ссылки</h4></label>
                        <input type="text" placeholder="введите slug" class="form-control" id="SlugName">
                    </div>
                    -->
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
