{% extends 'adminLte/base.html' %}
{% block mailing %}
    <li class="nav-item menu">
            <a href="#" class="nav-link active">
              <i class="fas fa-envelope"></i>
              <p>
                  Рассылка
                <i class="right fas fa-angle-left" style="transform: rotate(-90deg)"></i>
              </p>
            </a>
            <ul class="nav nav-treeview active" style="display: block">
              <li class="nav-item">
                <a href="{% url 'admin_mailing' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Настройка рассылки</p>
                </a>
            </ul>
            <ul class="nav nav-treeview" style="display: block">
              <li class="nav-item">
                <a href="{% url 'admin_user_choose' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Выбор пользователей</p>
                </a>
            </ul>
{% endblock %}
{% block content_title %}
    <h1 class="m-0">Mailing</h1>
{% endblock %}
{% block main_content %}
{% endblock %}