{% extends 'adminLte/base.html' %}
{% block film %}
    <li class="nav-item">
        <a href="{% url 'film_list' %}" class="nav-link active">
              <i class="fas fa-film"></i>
              <p>
                  Фильмы
              </p>
        </a>
    </li>
{% endblock %}
{% block content_title %}
    <h1 class="m-0">Форма добавления фильма</h1>
{% endblock %}
{% block main_content %}
    <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="FilmNameInput"><h4>Название фильма</h4></label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label for="FilmTextInput"><h4>Описание фильма</h4></label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="FilmPoster"><h4>Постер фильма</h4></label>
                        {{ form.main_image }}
                    </div>
                    <label for="FilmGallery"><h4>Галерея фильма</h4></label>
                        <div class="row" id="FilmGallery">
                            <div class="col">
                                {{ form.image1 }}
                            </div>
                            <div class="col">
                                 {{ form.image2 }}
                            </div>
                            <div class="col">
                                 {{ form.image3 }}
                            </div>
                            <div class="col">
                                 {{ form.image4 }}
                            </div>
                            <div class="col">
                                 {{ form.image5 }}
                            </div>
                        </div>
                    <div class="container my-3 pl-0">
                        <h4>Тип фильма:</h4>
                        <div class="form-check form-check-inline">
                            {{ form.two_d }}
                            <label class="form-check-label" for="inlineCheckbox1">2D</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.three_d }}
                            <label class="form-check-label" for="inlineCheckbox2">3D</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.i_max }}
                            <label class="form-check-label" for="inlineCheckbox3">IMAX</label>
                        </div>
                    </div>
                    <!-- Ввод слаг-филда
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="SlugName"><h4>Отображение ссылки</h4></label>
                        <input type="text" placeholder="введите slug" class="form-control" id="SlugName">
                    </div>
                    -->
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="FilmDuration"><h4>Продолжительность сеанса</h4></label>
                        {{ form.duration }}
                    </div>
                    <div class="col-lg-6 my-3 pl-0">
                        <label for="TrailerName"><h4>Ссылка на youtube трейлер</h4></label>
                        {{ form.trailer_link }}
                    </div>
                    <div class="col-lg-6 my-3 pl-0">
                        <label for="FilmFirstNightDate"><h4>Дата премьеры</h4></label>
                        {{ form.first_night }}
                    </div>
                    <div class="container my-5">
                        <a class="btn btn-success" type="submit">Сохранить</a>
                        <a class="btn btn-danger" href="#" role="button">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
