{% extends 'adminLte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
tinymce.init({selector:'#FilmTextInput'});
handleFileSelectSet('FilmPoster', 'output')
handleFileSelectSet('FilmPoster1', 'output1')
handleFileSelectSet('FilmPoster2', 'output2')
handleFileSelectSet('FilmPoster3', 'output3')
handleFileSelectSet('FilmPoster4', 'output4')
handleFileSelectSet('FilmPoster5', 'output5')
</script>
{% endblock %}
{% block film %}
    <li class="nav-item">
        <a href="{% url 'admin_film_list' %}" class="nav-link active">
              <i class="fas fa-film"></i>
              <p>
                  Фильмы
              </p>
        </a>
    </li>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endfor %}
{% endif %}
<h1 class="m-0">Форма добавления фильма</h1>
{% endblock %}
{% block main_content %}
    <div class="features flex-fill">
        <div class="row">
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label for="FilmNameInput"><h4>Название фильма</h4></label>
                        {{ form.title }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label for="FilmOriginalNameInput"><h4>Оригинальное название фильма</h4></label>
                        {{ form.original_title }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label><h4>Язык дубляжа</h4></label>
                        {{ form.language|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label><h4>Тип</h4></label>
                        {{ form.type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label for="FilmDirectorInput"><h4>Режиссер</h4></label>
                        {{ form.director }}
                    </div>
                    <div class="form-group col-md-4" style="padding-left: 0px">
                        <label for="FilmCountryInput"><h4>Страна производства</h4></label>
                        {{ form.country }}
                    </div>
                    <div class="form-group">
                        <label for="FilmTextInput"><h4>Описание фильма</h4></label>
                        {{ form.description }}
                    </div>
                    <label><h4>Постер фильма</h4></label>
                    <div class="card col-md-2">
                        <div class="form-group" style="text-align: center">
                            {% if main_image %}
                                <img src="{{ main_image }}" class="card-img-top" alt="film_image" style="padding-top: 7px;">
                            {% endif %}
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                {{ form.main_image }}
                            </div>
                            <div class="row">
                                <span id="output"></span>
                            </div>
                        </div>
                    </div>
                    <label for="FilmGallery"><h4>Галерея фильма (600x1300)</h4></label>
                        <div class="container d-flex justify-content-between" id="FilmGallery">
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image1 %}
                                        <img src="{{ image1 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.image1 }}
                                    </div>
                                    <div class="row">
                                        <span id="output1"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image2 %}
                                        <img src="{{ image2 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.image2 }}
                                    </div>
                                    <div class="row">
                                        <span id="output2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image3 %}
                                        <img src="{{ image3 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.image3 }}
                                    </div>
                                    <div class="row">
                                        <span id="output3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image4 %}
                                        <img src="{{ image4 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.image4 }}
                                    </div>
                                    <div class="row">
                                        <span id="output4"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image5 %}
                                        <img src="{{ image5 }}" class="card-img-top" alt="film_image" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.image5 }}
                                    </div>
                                    <div class="row">
                                        <span id="output5"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="container my-3 pl-0">
                        <h4>Тип фильма:</h4>
                        <div class="form-check form-check-inline">
                            {{ form.two_d }}
                            <label class="form-check-label" for="inlineCheckbox1">2D</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.three_d }}
                            <label class="form-check-label" for="inlineCheckbox2">3D</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.i_max }}
                            <label class="form-check-label" for="inlineCheckbox3">IMAX</label>
                        </div>
                    </div>
                    <!-- Ввод слаг-филда
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="SlugName"><h4>Отображение ссылки</h4></label>
                        <input type="text" placeholder="введите slug" class="form-control" id="SlugName">
                    </div>
                    -->
                    <div class="col-lg-4 my-3 pl-0">
                        <label for="FilmDuration"><h4>Продолжительность сеанса</h4></label>
                        {{ form.duration }}
                    </div>
                    <div class="col-lg-6 my-3 pl-0">
                        <label><h4>Ссылка на youtube трейлер</h4></label>
                            {{ form.trailer_link|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 my-3 pl-0">
                        <label for="FilmFirstNightDate"><h4>Дата премьеры</h4></label>
                        {{ form.first_night }}
                    </div>
                    <label><h4>SEO</h4></label>
                    <div class="col-md-3">
                        {% if instance_seo_id %}
                        <a href="{% url 'admin_seo' pk=instance_seo_id%}" class="btn btn-secondary">Настроить</a>
                        {% else %}
                        В данный момент нельзя настроить SEO. Сохраните изменения и попробуйте снова.
                        {% endif %}
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <a class="btn btn-danger" href="{% url 'admin_film_list' %}" role="button">Отмена</a>
                    </div>
                </form>
                    <label for="HallsList"><h4>Текущие киносессии </h4></label>
                    <table class="table table-bordered" id="HallsList">
                        <thead>
                        <tr>
                            <th scope="col">Номер зала</th>
                            <th scope="col">Дата показа</th>
                            <th scope="col">Время показа</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for el in session %}
                        <tr>
                            <th scope="row">{{ el.hall }}</th>
                            <td>{{ el.date }}</td>
                            <td>{{ el.time }}</td>
                            <td style="width: 115px">
                                <a class="btn btn-secondary" href="{% url 'admin_film_session_edit' pk=el.pk %}" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                    </svg>
                                    <span class="visually-hidden"></span>
                                </a>
                                <a class="btn btn-secondary" href="{% url 'admin_film_session_delete' pk=el.pk %}" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                    </svg>
                                    <span class="visually-hidden"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
