{% extends 'adminLte/base.html' %}
{% block film %}
    <li class="nav-item">
        <a href="{% url 'admin_film_list' %}" class="nav-link active">
              <i class="fas fa-film"></i>
              <p>
                  Фильмы
              </p>
        </a>
    </li>
{% endblock %}
{% block navbar_item %}
<a class="btn btn-success" href="{% url 'admin_film_form' %}">Добавить фильм</a>
<a class="btn btn-success" href="{% url 'admin_film_session' %}" role="button" style="margin-left: 20px">Добавить сеанс</a>
{% endblock %}
{% block content_title %}
    <h1 class="m-0">Премьеры</h1>
{% endblock %}
{% block main_content %}
{% if film %}
    {% for el in film %}
        <div class="card m-3" style="width: 16rem">
            <img src="{{ el.get_absolute_image }}" class="card-img-top" alt="film_image" style="max-height: 300px">
                <div class="card-body">
                    <h5 class="card-title">{{ el.title }}</h5>
                </div>
            <div class="card-footer">
                <div class="col">
                    <div class="row" style="padding-bottom: 2px">
                        <a href="{% url 'admin_film_edit' pk=el.pk%}" class="btn btn-block btn-outline-info">Редактировать</a>
                    </div>
                    <div class="row">
                        <a href="{% url 'admin_film_delete' pk=el.pk%}" class="btn btn-block btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% else %}
<div>
    <h3>Список фильмов пуст. Вы можете добавить<a href="{%url 'admin_film_form'%}"> здесь</a></h3>
</div>
{% endif %}
{% endblock %}
{% block pagination %}
<div class="pagination_block">
    {% include "adminLte/pagination.html" with page=film %}
</div>
{% endblock %}
