{% extends 'adminLte/base.html' %}
{% block scripts %}
{% load crispy_forms_tags %}
<script>tinymce.init({selector:'#AdvTextInput'});</script>
{% endblock %}
{% block content_title %}
<h1 class="m-0">Реклама в кинотеатре</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="AdvNameInput"><h4>Название рекламы</h4></label>
                            {{ form.adv_name }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AdvTextInput"><h4>Описание рекламы</h4></label>
                        {{ form.adv_description }}
                    </div>
                    <div class="form-group">
                        <label for="AdvMainImage"><h4>Главная картинка</h4></label>
                        {{ form.adv_main_image }}
                    </div>
                    <label for="AdvGallery"><h4>Галерея картинок</h4></label>
                        <div class="row" id="AdvGallery">
                            <div class="col">
                                {{ form.adv_image1 }}
                            </div>
                            <div class="col">
                                 {{ form.adv_image2 }}
                            </div>
                            <div class="col">
                                 {{ form.adv_image3 }}
                            </div>
                            <div class="col">
                                 {{ form.adv_image4 }}
                            </div>
                            <div class="col">
                                 {{ form.adv_image5 }}
                            </div>
                        </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}