{% extends 'adminLte/base.html' %}
{% block scripts %}
{% load crispy_forms_tags %}
<script>tinymce.init({selector:'#CafeBarTextInput'});</script>
{% endblock %}
{% block content_title %}
<h1 class="m-0">О кафе-баре</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="CafeBarNameInput"><h4>Название кафе-бара</h4></label>
                            {{ form.cafebar_name }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CafeBarTextInput"><h4>Описание кофе-бара</h4></label>
                        {{ form.cafebar_description }}
                    </div>
                    <label><h4>Главная картинка</h4></label>
                    <div class="card col-md-2">
                        <div class="card-body" style="padding: 0px">
                            <div class="form-group">
                                <div class="fileUpload btn btn-secondary">
                                    <span>Загрузить</span>
                                    {{ form.cafebar_main_image }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="CafeBarGallery"><h4>Галерея картинок</h4></label>
                        <div class="row" id="CafeBarGallery">
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                {{ form.cafebar_image1 }}
                            </div>
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                 {{ form.cafebar_image2 }}
                            </div>
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                 {{ form.cafebar_image3 }}
                            </div>
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                 {{ form.cafebar_image4 }}
                            </div>
                            <div class="fileUpload btn btn-secondary">
                                <span>Загрузить</span>
                                 {{ form.cafebar_image5 }}
                            </div>
                        </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}