{% extends 'adminLte/base.html' %}
{% block navbar_item %}
<a class="btn btn-success" href="{% url 'admin_contact_form' %}">Добавить контакт</a>
{% endblock %}
{% block content_title %}
    <h1 class="m-0">Список контактов</h1>
{% endblock %}
{% block main_content %}
{% if contacts %}
{% for el in contacts %}
<div class="container" style="height: auto">
    <div class="card">
        <div class="container d-flex" style="align-items: center">
            <div class="col-lg-4">
                <img src="{{el.contact_logo.url}}" style="max-height: 300px; width: 100%">
            </div>
            <div class="col-lg-8" style="vertical-align: center">
                <div class="col d-flex justify-content-center" style="margin-top: 20px">
                    <h4>{{ el.contact_cinema }}</h4>
                </div>
                <div class="col">
                    <p><h5>Адрес кинотеатра</h5>{{ el.contact_address }}</p>
                </div>
                <div class="col">
                    <p><h5>Координаты для карты</h5>{{ el.contact_location }}</p>
                </div>
                <div class="row justify-content-center" style="padding-bottom: 20px">
                    <a class="btn btn-outline-info" href="{% url 'admin_contact_edit' pk=el.pk %}" type="button" style="margin-right: 20px">Редактировать</a>
                    <a class="btn btn-outline-danger" href="{% url 'admin_contact_delete' pk=el.pk %}" type="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div>
    <h3>Список контактов пуст. Вы можете добавить<a href="{%url 'admin_contact_form'%}"> здесь</a></h3>
</div>
{% endif%}
{% endblock %}