{% extends 'adminLte/base.html' %}
{% block scripts %}
<script>tinymce.init({selector:'#ContactAddressInput'});</script>
{% endblock %}
{% load crispy_forms_tags %}
{% block content_title %}
<h1 class="m-0">Форма контактов</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="CinemaInput"><h4>Название кинотеатра</h4></label>
                            {{ form.contact_cinema|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContactAddressInput"><h4>Адрес кинотеатра</h4></label>
                        {{ form.contact_address }}
                    </div>
                    <div class="form-group">
                        <label for="ContactCoordInput"><h4>Координаты кинотеатра на карте</h4></label>
                        {{ form.contact_location }}
                    </div>
                    <div class="form-group">
                        <label for="ContactMainImage"><h4>Главная картинка</h4></label>
                        {{ form.contact_logo }}
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <a class="btn btn-danger" href="{% url 'admin_contact_list' %}" role="button">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}