{% extends 'adminLte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
tinymce.init({selector:'#ContactAddressInput'});
handleFileSelectSet('ContactMainImage', 'output')
</script>
{% endblock %}
{% block page %}
<li class="nav-item menu  menu-open">
                    <a class="nav-link active">
                        <i class="fas fa-pager"></i>
                        <p>
                            Страницы
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_pages_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Все страницы</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_main_info' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Главная страница</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_about_cinema' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>О сети кинотеатров</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_cafe_bar' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Кафе-бар</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_vip_hall' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>VIP-зал</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_ads' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Реклама</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_child_room' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Детская комната</p>
                            </a>
                        </li>
                        {% block contact_nav %}
                        <li class="nav-item">
                            <a href="{% url 'admin_contact_list' %}" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Контакты</p>
                            </a>
                        </li>
                        {% endblock %}
                        <li class="nav-item">
                            <a href="{% url 'admin_mobile_app' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Мобильное приложение</p>
                            </a>
                        </li>
                    </ul>
                </li>

{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endfor %}
{% endif %}
<h1 class="m-0">Форма контактов</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="CinemaInput"><h4>Название кинотеатра</h4></label>
                            {{ form.contact_cinema|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContactAddressInput"><h4>Информация о кинотеатре</h4></label>
                        {{ form.contact_address }}
                    </div>
                    <div class="form-group">
                        <label for="ContactCoordInput"><h4>Координаты кинотеатра на карте</h4></label>
                        {{ form.contact_location }}
                    </div>
                    <label><h4>Главная картинка</h4></label>
                    <div class="card col-md-2">
                        <div class="form-group" style="text-align: center; margin-bottom: 0px">
                            <div class="form-group">
                                {% if main_image %}
                                    <img src="{{ main_image }}" class="card-img-top" alt="film_image" style="padding-top: 7px;">
                                {% endif %}
                                <div class="fileUpload btn btn-secondary">
                                   <span>Загрузить</span>
                                    {{ form.contact_logo }}
                                </div>
                                <div class="row">
                                    <span id="output"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label><h4>SEO</h4></label>
                    <div class="col-md-3">
                        {% if instance_seo_id %}
                        <a href="{% url 'admin_seo' pk=instance_seo_id%}" class="btn btn-secondary">Настроить</a>
                        {% else %}
                        В данный момент нельзя настроить SEO. Сохраните изменения и попробуйте снова.
                        {% endif %}
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        <a class="btn btn-danger" href="{% url 'admin_contact_list' %}" role="button">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}