
{% extends 'adminLte/base.html' %}
{% load crispy_forms_tags %}

{% block page_main %}
<a href="{% url 'admin_main_info' %}" class="nav-link active">
    <i class="far fa-circle nav-icon"></i>
    <p>Главная страница</p>
</a>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
    <h1 class="m-0">Редактирование информации на главной странице</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="TelNumber1Input"><h4>Телефоны</h4></label>
                            {{ form.tel_number1 }}
                        {{ form.tel_number2 }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <label><h4>SEO</h4></label>
                    <div class="col-md-3">
                        {% if instance_seo_id %}
                        <a href="{% url 'admin_seo' pk=instance_seo_id%}" class="btn btn-secondary">Настроить</a>
                        {% else %}
                        В данный момент нельзя настроить SEO. Сохраните изменения и попробуйте снова.
                        {% endif %}
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
 </div>
{% endblock %}