{% extends 'adminLte/base.html' %}
 {% block head %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'#TextInput'});</script>
{% endblock %}
{% block content_title %}
<h1 class="m-0">Мобильное приложение</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row col-md-4" style="padding-left: 0px">
                         <label for="NameInput"><h4>Название мобильного приложение</h4></label>
                        {{ form.app_name }}
                    </div>
                    <div class="form-group">
                        <label for="TextInput"><h4>Описание мобильного приложение</h4></label>
                        {{ form.app_description }}
                    </div>
                    <div class="form-group">
                        <label for="Poster"><h4>Главная картинка</h4></label>
                        {{ form.app_main_image }}
                    </div>
                    <label for="Gallery"><h4>Галерея картинок</h4></label>
                        <div class="row" id="CafeBarGallery">
                            <div class="col">
                                {{ form.app_image1 }}
                            </div>
                            <div class="col">
                                 {{ form.app_image2 }}
                            </div>
                            <div class="col">
                                 {{ form.app_image3 }}
                            </div>
                            <div class="col">
                                 {{ form.app_image4 }}
                            </div>
                            <div class="col">
                                 {{ form.app_image5 }}
                            </div>
                        </div>
                    <div class="form-row col-md-4">
                        <label><h4>Ссылка в PlayMarket</h4></label>
                        {{ form.app_google }}
                    </div>
                    <div class="form-row col-md-4">
                        <label><h4>Ссылка в AppStore</h4></label>
                        {{ form.app_apple }}
                    </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}