{% extends 'adminLte/base.html' %}
{% block page %}
<li class="nav-item menu-open">
    <a href="{% url 'admin_pages_list' %}" class="nav-link active">
        <i class="fas fa-pager"></i>
        <p>
            Страницы
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'admin_main_info' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Главная страница</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_about_cinema' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>О сети кинотеатров</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_cafe_bar' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Кафе-бар</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_vip_hall' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>VIP-зал</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_ads' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Реклама</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_child_room' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Детская комната</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_contact_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Контакты кинотеатров</p>
            </a>
        </li>
    </ul>
</li>
{% endblock %}
{% block content_title %}
<h1 class="m-0">Общая информация страниц сайта</h1>
{% endblock %}
{% block main_content %}
<div>
    <br/><h5>Главная страница</h5>
    <b>Номер телефона 1:</b> {{ main_page.tel_number1 }} <br/>
    <b>Номер телефона 2:</b> {{ main_page.tel_number2 }} <br/>
    <br/><br/><h5>О сети кинотеатров</h5>
    <b>Название:</b> {{ about_cinema.cinema_name}} <br/>
    <b>Описание:</b> {{ about_cinema.cinema_description}} <br/>
    <br/><br/><h5>Кафе-бар</h5>
    <b>Название:</b> {{ cafe_bar.cafebar_name}} <br/>
    <b>Описание:</b> {{ cafe_bar.cafebar_description}} <br/>
    <br/><br/><h5>VIP-зал</h5>
    <b>Название:</b> {{ vip_hall.hall_name}} <br/>
    <b>Описание:</b> {{ vip_hall.hall_description}} <br/>
    <br/><br/><h5>Реклама</h5>
    <b>Название:</b> {{ advertising.adv_name}} <br/>
    <b>Описание:</b> {{ advertising.adv_description}} <br/>
    <br/><br/><h5>Контакты</h5>
    <b>Название:</b> {{ advertising.adv_name}} <br/>
    <b>Описание:</b> {{ advertising.adv_description}} <br/>

</div>
{% endblock %}