{% extends 'adminLte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
<script src="{% static 'admin/js/filepreview.js' %}"></script>
<script>
tinymce.init({selector:'#VipHallTextInput'});
handleFileSelectSet('AdvMainImage', 'output')
handleFileSelectSet('Image1', 'output1')
handleFileSelectSet('Image2', 'output2')
handleFileSelectSet('Image3', 'output3')
handleFileSelectSet('Image4', 'output4')
handleFileSelectSet('Image5', 'output5')
</script>
{% endblock %}
{% block content_title %}
{% if alerts %}
{% for alert in alerts %}
<div class="alert alert-success" role="alert">
    {{ alert }}
</div>
{% endfor %}
{% endif %}
<h1 class="m-0">О VIP-залах</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-4" style="padding-left: 0px">
                             <label for="VipHallNameInput"><h4>Название VIP-зала</h4></label>
                            {{ form.hall_name }}
                        </div>
                        <div class="form-group col-md-2">
                            <label><h4>Статус страницы</h4></label>
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="VipHallTextInput"><h4>Описание VIP-зала</h4></label>
                        {{ form.hall_description }}
                    </div>
                    <label><h4>Главная картинка</h4></label>
                    <div class="card col-md-2">
                        <div class="form-group" style="text-align: center; margin-bottom: 0px">
                            <div class="form-group">
                                {% if main_image %}
                                    <img src="{{ main_image }}" class="card-img-top" alt="film_image" style="padding-top: 7px;">
                                {% endif %}
                                <div class="fileUpload btn btn-secondary">
                                   <span>Загрузить</span>
                                    {{ form.hall_main_image }}
                                </div>
                                <div class="row">
                                    <span id="output"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label><h4>Галерея картинок (600x1300)</h4></label>
                    <div class="container d-flex justify-content-between" style="padding: 0px">
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image1 %}
                                        <img src="{{ image1 }}" class="card-img-top"style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image1 }}
                                    </div>
                                    <div class="row">
                                        <span id="output1"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image2 %}
                                        <img src="{{ image2 }}" class="card-img-top" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image2 }}
                                    </div>
                                    <div class="row">
                                        <span id="output2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image3 %}
                                        <img src="{{ image3 }}" class="card-img-top" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image3 }}
                                    </div>
                                    <div class="row">
                                        <span id="output3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image4 %}
                                        <img src="{{ image4 }}" class="card-img-top" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image4 }}
                                    </div>
                                    <div class="row">
                                        <span id="output4"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-2">
                                <div class="card-body" style="padding: 0px">
                                    {% if image5 %}
                                        <img src="{{ image5 }}" class="card-img-top" style="padding-top:7px">
                                    {% endif %}
                                    <div class="fileUpload btn btn-secondary">
                                        <span>Загрузить</span>
                                        {{ form.hall_image5 }}
                                    </div>
                                    <div class="row">
                                        <span id="output5"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <label><h4>SEO</h4></label>
                    <div class="col-md-3" style="padding: 0px;">
                        {% if instance_seo_id %}
                        <a href="{% url 'admin_seo' pk=instance_seo_id%}" class="btn btn-secondary">Настроить</a>
                        {% else %}
                        В данный момент нельзя настроить SEO. Сохраните изменения и попробуйте снова.
                        {% endif %}
                    </div>
                    <div class="container my-5" style="padding: 0px">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}