{% extends 'adminLte/base.html' %}
{% block navbar_item %}
<a class="btn btn-success" href="{% url 'admin_pages_list' %}">Список всех страниц</a>
{% endblock %}
{% block content_title %}
<h1 class="m-0">О VIP-залах</h1>
{% endblock %}
{% block main_content %}
 <div class="features flex-fill">
        <div class="row m-3">
            <div class="container">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row col-md-4" style="padding-left: 0px">
                         <label for="VipHallNameInput"><h4>Название VIP-зала</h4></label>
                        {{ form.hall_name }}
                    </div>
                    <div class="form-group">
                        <label for="VipHallTextInput"><h4>Описание VIP-зала</h4></label>
                        {{ form.hall_description }}
                    </div>
                    <div class="form-group">
                        <label for="VipHallMainImage"><h4>Главная картинка</h4></label>
                        {{ form.hall_main_image }}
                    </div>
                    <label for="VipRoomGallery"><h4>Галерея картинок</h4></label>
                        <div class="row" id="VipRoomGallery">
                            <div class="col">
                                {{ form.hall_image1 }}
                            </div>
                            <div class="col">
                                 {{ form.hall_image2 }}
                            </div>
                            <div class="col">
                                 {{ form.hall_image3 }}
                            </div>
                            <div class="col">
                                 {{ form.hall_image4 }}
                            </div>
                            <div class="col">
                                 {{ form.hall_image5 }}
                            </div>
                        </div>
                    <div class="container my-5">
                        <button class="btn btn-success" type="submit">Сохранить</button>
                        {% for msg in messages %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
 </div>
{% endblock %}