
 a {
     color: #000000;
 }
 nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
}
.navbar-nav {
    font-size: large;
    display: table;
    width: 100%;
    margin: 0;
}
.navbar-nav > li {
    font-size: large;
    float:none;
    display:table-cell;
    text-align:center;
}

hr {
    border: none;
    color: #000000;
    height: 4px;
}
.row>* {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}
