
 a {
     color: white;
 }

 h4{
    color: white !important;
 }

 nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
}
.navbar-nav {
    font-size: large;
    display: table;
    width: 100%;
    margin: 0;
}
.navbar-nav > li {
    font-size: large;
    float:none;
    display:table-cell;
    text-align:center;
}

hr {
    border: none;
    color: #000000;
    height: 4px;
}
.row>* {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}
.row{
    --bs-gutter-x: 0rem;
}

.login-area {
    display: flex;
    justify-content: center;
    margin: 70px 0;
}


.register-area {
    display: flex;
    justify-content: center;
    margin: 70px 0;
}

.input-group-text{
    display: block;
}
.card{
    background-color: #353434 !important;
    color: white !important;
    border: 1px solid rgb(0 0 0);
}

.icon-google {
    fill: white;
}
.icon-google:hover {
    fill: #EA4335;
}

.icon-facebook {
    fill: white;
}
.icon-facebook:hover {
    fill: #4267B2;
}

.icon-twitter {
    fill: white;
}
.icon-twitter:hover {
    fill: rgb(0, 172, 238);
}

.box {
  text-align: center;
  padding: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}