{% extends 'public/base.html' %}
{% block content %}
<div class="content-wrapper">
        <div class="row d-flex justify-content-center" style="--bs-gutter-x: 0rem;">
            {% for el in films %}
            <div class="card d-flex" style="width: 16rem; height: 25.5rem; margin-bottom: 28px; margin-left: 1px; margin-right: 1px">
                <p><a href="{% url 'posters_films_details' pk=el.pk %}"><img src="{{ el.main_image.url }}" class="card-img-top" alt="film_image" height="340"></a></p>
                <div class="card-body" style="padding: 0px;">
                    <h5 class="card-title" style="text-align: center">{{ el.title }}</h5>
                </div>
                <div class="d-flex ">
                    <div class="row mx-auto">
                        <form method="get">
                            <a href="#" class="btn btn-primary">Купить билет</a>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}