{% extends 'public/base.html' %}
{% load easy_maps_tags %}
{% block content %}
{% if contacts %}
    <div class="container" style="height: auto; margin-top: 10px">
        <h3 style="text-align: center">Контакты кинотеатров</h3>
        {% for el in contacts %}
        <div class="card" style="border: none">
            <div class="container d-flex justify-content-between" style="align-items: center">
                <div class="col-lg-4">
                    <img src="{{el.contact_logo.url}}" style="max-height: 300px; width: 100%">
                </div>
                <div class="col-lg-7">
                    <div class="col d-flex justify-content-center" style="margin-top: 20px">
                        <h4>{{ el.contact_cinema }}</h4>
                    </div>
                    <div class="col-lg col-md-12">
                        {% easy_map el.contact_location 650 400 %}
                        <p><h5>Информация о кинотеатре</h5>{{ el.contact_address | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}