{% extends 'public/base.html' %}
{% block content %}

<img src="{{ app.app_main_image.url }}" style="max-height: 500px; max-width: 100%">
<div class="container">
    <h1 style="text-align: center; margin-top: 30px">Мобильное приложение</h1>
    <p>{{ app.app_description | safe }}</p>
</div>
<div class="container d-flex justify-content-center">
    <div class="col">
        <img src="{{ app.app_image1.url }}" width="100%">
    </div>
    <div class="col">
        <img src="{{ app.app_image2.url }}" width="100%">
    </div>
    <div class="col">
        <img src="{{ app.app_image3.url}}" width="100%">
    </div>
    <div class="col">
        <img src="{{ app.app_image4.url }}" width="100%">
    </div>
</div>
<div class="container col-lg-6 d-flex justify-content-center" style="margin-top: 30px">
    <div class="col">
        <img src="../../../static/img/google-play-icon-png-3.png" width="100%">
    </div>
    <div class="col">
        <img src="../../../static/img/Apple+Store+Icon+New.png" width="100%">
    </div>
</div>

{% endblock %}