{% extends 'public/base.html' %}
{% block content %}
{% for el in promo_banners %}
<img src="{{ el.news_main_image.url }}" style="max-height: 500px; max-width: 100%">
{% endfor %}
<div class="content-wrapper">
        <div class="row d-flex justify-content-start" style="--bs-gutter-x: 0rem;">
            {% for el in news %}
            <div class="card d-flex" style="width: 22rem; height: auto; margin-bottom: 28px; margin-left: auto; margin-right: auto; border: none">
                <p><img src="{{ el.news_main_image.url }}" class="card-img-top" alt="film_image" height="340"></p>
                <div class="card-body" style="padding: 0px;">
                    <h5 class="card-title" style="text-align: center">{{ el.news_name }}</h5>
                    <p>{{ el.news_description | safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}