{% extends 'public/base.html' %}
{% block content %}
<h1 style="text-align: center; margin-top: 30px">Акции и скидки</h1>
<div class="container" style="margin-top: 10px">

{% for el in promo_banners %}
<img src="{{ el.promo_main_image.url }}" style="max-height: 500px; max-width: 100%">
{% endfor %}
<div class="content-wrapper">
        <div class="row d-flex justify-content-start" style="--bs-gutter-x: 0rem;">
            {% for el in promotions %}
            <div class="card d-flex" style="width: 22rem; height: auto; margin-bottom: 28px; margin-left: auto; margin-right: auto; border: none">
                <p><a href="{% url 'promotion_details' pk=el.pk %}"><img src="{{ el.promo_main_image.url }}" class="card-img-top" alt="film_image" height="340"></a></p>
                <div class="card-body" style="padding: 0px;">
                    <h5 class="card-title" style="text-align: center">{{ el.promo_name }}</h5>
                    <p>{{ el.promo_description | safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% if ads %}
<div class="container" style="margin-bottom: 10px; padding: 0px; height: 200px; margin-top: 10px">
    <a href="{{ads.link}}"><img src="{{ ads.get_horizontal_img }}" class="img-fluid mx-auto d-block" style="height: 100%; width: 100%"></a>
</div>
{% endif %}
{% endblock %}